@font-face {
  font-family: "Montserrat";
  src: local("Montserrat") url("./FONTS/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Klinic Slab";
  src: local("Klinic Slab"), url("./FONTS/KlinicSlab_OTF/KlinicSlabMedium.otf") format("opentype");
}
@font-face {
  font-family: "Klinic Slab Light";
  src: local("Klinic Slab Light"), url("./FONTS/KlinicSlab_OTF/KlinicSlabLight.otf") format("opentype");
}
@font-face {
  font-family: "Klinic Slab Italic";
  src: local("Klinic Slab Italic"), url("./FONTS/KlinicSlab_OTF/KlinicSlabLightIt.otf") format("opentype");
}
@font-face {
  font-family: "Klinic Slab Bold";
  src: local("Klinic Slab Bold"), url("./FONTS/KlinicSlab_OTF/KlinicSlabBold.otf") format("opentype");
}
*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-cont {
  background-image: url(../stacked-waves-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

.carousel-cont {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.carousel-inner,
.carousel-item {
  z-index: 1;
  height: 100%;
  background: none;
}

.carousel-slide-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  opacity: 0;
}

.logo-svg {
  z-index: 99;
  opacity: 0;
  height: auto;
  width: 100%;
  padding: 20%;
}

.logo-letter {
  fill: #554741;
}

#logo-dot-top,
#logo-line-right {
  fill: #b01c87;
}

#logo-dot-left,
#logo-line-top {
  fill: #d40e8c;
}

#logo-dot-btm,
#logo-line-left {
  fill: #d30c55;
}

#logo-dot-right,
#logo-line-btm {
  fill: #d40e8c;
}

.logo-vertical {
  position: absolute;
  margin: 1rem;
  top: 0;
  right: 0;
  max-width: 10%;
  min-width: 100px;
  height: auto;
  opacity: 0;
}

.italic {
  font-family: "Klinic Slab Italic", sans-serif;
}

.slide-header {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 10rem;
  text-align: center;
}
@media screen and (max-width: 1400px) {
  .slide-header {
    font-size: 6rem;
  }
}
@media screen and (max-width: 768px) {
  .slide-header {
    font-size: 3rem;
  }
}

.slide-header-alt {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 10rem;
  text-align: center;
  font-size: 5rem;
}
@media screen and (max-width: 1400px) {
  .slide-header-alt {
    font-size: 6rem;
  }
}
@media screen and (max-width: 768px) {
  .slide-header-alt {
    font-size: 3rem;
  }
}

.slide-subheader {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 3rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .slide-subheader {
    font-size: 2rem;
  }
}

.slide-stat-primary {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 3rem;
  text-align: center;
  font-family: "Klinic Slab Bold", sans-serif;
}
@media screen and (max-width: 768px) {
  .slide-stat-primary {
    font-size: 2rem;
  }
}

.slide-stat-title {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 2rem;
  text-align: center;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .slide-stat-title {
    font-size: 1rem;
  }
}

.slide-body {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 2rem;
  text-align: center;
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  .slide-body {
    font-size: 1rem;
  }
}

#be-ambitious-title {
  opacity: 100;
}

#ambitious-it-span {
  border-bottom: 15px solid #76379b;
}

.about-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.about-grid {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.stat-cont {
  position: absolute;
  bottom: 33%;
}

.gptw-logo {
  max-width: 30%;
  min-width: 100px;
  height: auto;
}/*# sourceMappingURL=styles.css.map */