@font-face {
  font-family: "Montserrat";
  src: local("Montserrat") url("./FONTS/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Klinic Slab";
  src: local("Klinic Slab"), url("./FONTS/KlinicSlab_OTF/KlinicSlabMedium.otf") format("opentype");
}
@font-face {
  font-family: "Klinic Slab Light";
  src: local("Klinic Slab Light"), url("./FONTS/KlinicSlab_OTF/KlinicSlabLight.otf") format("opentype");
}
@font-face {
  font-family: "Klinic Slab Italic";
  src: local("Klinic Slab Italic"), url("./FONTS/KlinicSlab_OTF/KlinicSlabLightIt.otf") format("opentype");
}
@font-face {
  font-family: "Klinic Slab Bold";
  src: local("Klinic Slab Bold"), url("./FONTS/KlinicSlab_OTF/KlinicSlabBold.otf") format("opentype");
}
*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-red {
  color: #a5222f;
}

.font-fuchsia {
  color: #b40b76;
}

.font-purple {
  color: #76379b;
}

.background-cont {
  background-image: url(../stacked-waves-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

.carousel-cont {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.carousel-inner,
.carousel-item {
  z-index: 1;
  height: 100%;
  background: none;
}

.logo-svg {
  z-index: 99;
  opacity: 0;
  height: auto;
  width: 100%;
  padding: 20%;
}

.logo-letter {
  fill: #554741;
}

#logo-dot-top,
#logo-line-right {
  fill: #b01c87;
}

#logo-dot-left,
#logo-line-top {
  fill: #d40e8c;
}

#logo-dot-btm,
#logo-line-left {
  fill: #d30c55;
}

#logo-dot-right,
#logo-line-btm {
  fill: #d40e8c;
}

.logo-vertical {
  position: absolute;
  margin: 1rem;
  top: 0;
  right: 0;
  max-width: 10%;
  min-width: 100px;
  height: auto;
  opacity: 0;
}

.qr-code {
  position: absolute;
  margin: 1rem;
  top: 0;
  left: 0;
  height: auto;
  width: 7.5%;
  opacity: 0;
}

.italic {
  font-family: "Klinic Slab Italic", sans-serif;
}

.title-primary {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 10rem;
}
@media screen and (max-width: 1400px) {
  .title-primary {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .title-primary {
    font-size: 3.3333333333rem;
  }
}
@media screen and (max-width: 992px) {
  .title-primary {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .title-primary {
    font-size: 2rem;
  }
}

.title-secondary {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 6rem;
}
@media screen and (max-width: 1400px) {
  .title-secondary {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1200px) {
  .title-secondary {
    font-size: 3rem;
  }
}
@media screen and (max-width: 992px) {
  .title-secondary {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .title-secondary {
    font-size: 1.5rem;
  }
}

.title-tertiary {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 2rem;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .title-tertiary {
    font-size: 1rem;
  }
}

.slide-header {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 10rem;
}
@media screen and (max-width: 1400px) {
  .slide-header {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .slide-header {
    font-size: 3.3333333333rem;
  }
}
@media screen and (max-width: 992px) {
  .slide-header {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .slide-header {
    font-size: 2rem;
  }
}

.slide-header-alt {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 10rem;
  font-size: 5rem;
}
@media screen and (max-width: 1400px) {
  .slide-header-alt {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .slide-header-alt {
    font-size: 3.3333333333rem;
  }
}
@media screen and (max-width: 992px) {
  .slide-header-alt {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .slide-header-alt {
    font-size: 2rem;
  }
}

.slide-subheader {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 6rem;
}
@media screen and (max-width: 1400px) {
  .slide-subheader {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1200px) {
  .slide-subheader {
    font-size: 3rem;
  }
}
@media screen and (max-width: 992px) {
  .slide-subheader {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .slide-subheader {
    font-size: 1.5rem;
  }
}

.slide-stat-primary {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 6rem;
  font-family: "Klinic Slab Bold", sans-serif;
}
@media screen and (max-width: 1400px) {
  .slide-stat-primary {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1200px) {
  .slide-stat-primary {
    font-size: 3rem;
  }
}
@media screen and (max-width: 992px) {
  .slide-stat-primary {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .slide-stat-primary {
    font-size: 1.5rem;
  }
}

.slide-stat-title {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 10rem;
  background-image: linear-gradient(to right, #ae0a46 0%, #a80b6e 49%, #582873 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 5rem;
}
@media screen and (max-width: 1400px) {
  .slide-stat-title {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .slide-stat-title {
    font-size: 3.3333333333rem;
  }
}
@media screen and (max-width: 992px) {
  .slide-stat-title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .slide-stat-title {
    font-size: 2rem;
  }
}

.slide-body {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 2rem;
  text-align: center;
  line-height: 1.1;
}
@media screen and (max-width: 1200px) {
  .slide-body {
    font-size: 1rem;
  }
}

.card-title {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 3rem;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .card-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .card-title {
    font-size: 1.5rem;
  }
}

.card-body {
  font-family: "Klinic Slab Light", sans-serif;
  font-size: 2rem;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .card-body {
    font-size: 1rem;
  }
}

.carousel-slide-cont {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  opacity: 0;
}

.slide-title-cont,
.slide-content-cont {
  width: 100%;
}

#be-ambitious-title {
  opacity: 100;
}

#ambitious-it-span {
  border-bottom: 15px solid #76379b;
}

.responsive-grid {
  margin: 0;
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .responsive-grid {
    width: 75%;
  }
}

.about-insight-logo {
  max-width: 50%;
  height: auto;
}

.culture-sub-cont {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 1200px) {
  .culture-sub-cont {
    margin-bottom: 5rem;
  }
}

.culture-card-header {
  position: relative;
  padding: 0.5rem 0;
}
@media screen and (min-width: 1200px) {
  .culture-card-header {
    padding: 1rem 0;
  }
}

.culture-card-header::after {
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: inherit;
  border: solid transparent;
  content: " ";
  border-color: #FFFFFF;
  height: 0;
  width: 0;
  border-width: 15px;
  margin-left: -15px;
}

.stat-cont {
  position: absolute;
  bottom: 33%;
}

.gptw-logo {
  max-width: 30%;
  min-width: 100px;
  height: auto;
}

.gptw-card {
  width: 50%;
  justify-self: center;
}

.project-logos {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-red {
  background-color: #a5222f;
}

.bg-red::after {
  border-top-color: #a5222f;
}

.bg-fuchsia {
  background-color: #b40b76;
}

.bg-fuchsia::after {
  border-top-color: #b40b76;
}

.bg-purple {
  background-color: #76379b;
}

.bg-purple::after {
  border-top-color: #76379b;
}

.impact-grid {
  max-width: 100%;
}

.gptw-header {
  font-family: "Klinic Slab Bold", sans-serif;
  font-size: 2.5rem;
}

.gptw-body,
.impact-body {
  font-family: "Klinic Slab Light", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-align: left;
  line-height: 1.2;
  color: #2d2622;
}
@media screen and (max-width: 1200px) {
  .gptw-body,
.impact-body {
    font-size: 1rem;
  }
}

.impact-mute {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 2rem;
  text-align: center;
  font-size: 1.5rem;
  text-align: left;
  color: #2d2622;
  align-self: end;
}
@media screen and (max-width: 1200px) {
  .impact-mute {
    font-size: 1rem;
  }
}

.gptw-svg-cont,
.expertise-svg-cont {
  height: auto;
  width: auto;
}

.gptw-svg {
  height: 50%;
  width: 50%;
}

.expertise-svg {
  height: 25%;
  width: 25%;
}

.expertise-slide-header {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 10rem;
  font-size: 8rem;
}
@media screen and (max-width: 1400px) {
  .expertise-slide-header {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .expertise-slide-header {
    font-size: 3.3333333333rem;
  }
}
@media screen and (max-width: 992px) {
  .expertise-slide-header {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .expertise-slide-header {
    font-size: 2rem;
  }
}

.industry-card-title,
.project-card-title {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 3rem;
  text-align: center;
  background-image: linear-gradient(to right, #ae0a46 0%, #a80b6e 49%, #582873 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
@media screen and (max-width: 1200px) {
  .industry-card-title,
.project-card-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .industry-card-title,
.project-card-title {
    font-size: 1.5rem;
  }
}

.microsoft-card-title {
  font-family: "Klinic Slab Light", sans-serif;
  color: #EFE9F4;
  font-size: 2rem;
  text-align: center;
  background-image: linear-gradient(to right, #ae0a46 0%, #a80b6e 49%, #582873 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
@media screen and (max-width: 1200px) {
  .microsoft-card-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .industry-svg {
    height: 3rem;
    width: 3rem;
  }
}

.insight-gradient {
  background-image: linear-gradient(to right, #ae0a46 0%, #a80b6e 49%, #582873 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.project-card-title {
  width: 100%;
  border-width: 3px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #ae0a46 0%, #a80b6e 49%, #582873 100%) 0 0 100% 0;
     border-image: linear-gradient(to right, #ae0a46 0%, #a80b6e 49%, #582873 100%) 0 0 100% 0;
}

.projects-container {
  height: 100%;
}

@media screen and (max-width: 992px) {
  .small-display-none {
    display: none;
  }
}

.value-card-body {
  padding: 2.5rem;
}
@media screen and (min-width: 992px) {
  .value-card-body {
    padding: 4rem;
  }
}

.showcase-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 100;
  height: 100vh;
}

.showcase-logo {
  width: 50%;
  fill: #554741;
}

.gray {
  color: #554741;
}/*# sourceMappingURL=styles.css.map */