@use './base' as *;

@mixin slide-title {
    font-family: $font-heading;
    color: $color-font-primary;
    font-size: $font-size-heading;

    @media screen and (max-width: $extra-large) {
        font-size: calc($font-size-heading / 2);
    }

    @media screen and (max-width: $large) {
        font-size: calc($font-size-heading / 3);
    }

    @media screen and (max-width: $medium) {
        font-size: calc($font-size-heading / 4);
    }

    @media screen and (max-width: $small) {
        font-size: calc($font-size-heading / 5);
    }
}

@mixin slide-subtitle {
    font-family: $font-subheading;
    color: $color-font-primary;
    font-size: $font-size-subheader;

    @media screen and (max-width: $extra-large) {
        font-size: calc($font-size-subheader / 1.5);
    }

    @media screen and (max-width: $large) {
        font-size: calc($font-size-subheader / 2);
    }

    @media screen and (max-width: $medium) {
        font-size: calc($font-size-subheader / 3);
    }

    @media screen and (max-width: $small) {
        font-size: calc($font-size-subheader / 4);
    }
}

@mixin slide-body {
    font-family: $font-heading;
    color: $color-font-primary;
    font-size: calc($font-size-body * 2);
    text-align: center;

    @media screen and (max-width: $large) {
        font-size: calc($font-size-body);
    }
}

@mixin card-title {
    font-family: $font-heading;
    color: $color-font-primary;
    font-size: calc($font-size-body * 3);
    text-align: center;
    
    @media screen and (max-width: $large) {
        font-size: calc($font-size-body * 2);
        }

    @media screen and (max-width: $medium) {
        font-size: calc($font-size-body * 1.5);
    }
}

@mixin card-body {
        font-family: $font-heading;
        font-size: calc($font-size-body * 2);
        text-align: center;
        
        @media screen and (max-width: $large) {
            font-size: calc($font-size-body);
        }
}

@mixin gradient-text {
        background-image: linear-gradient(to right, #ae0a46 0%, #a80b6e 49%, #582873 100%);
        background-clip: text;
        color: transparent;
}

@mixin grid-flex {
    margin: 0;
    padding: 0;
    width: 100%;

    @media screen and (min-width: $large) {
        width: 75%;
    }
}


