@use '../abstracts/'as *;

.background-cont {
    background-image: url(../stacked-waves-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
}

.carousel-cont {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.carousel-inner,
.carousel-item {
    z-index: 1;
    height: 100%;
    background: none;
}

.carousel-slide-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.logo-svg {
    z-index: 99;
    opacity: 0;
    height: auto;
    width: 100%;
    padding: 20%;
}

.logo-letter {
    fill: #554741;
}

#logo-dot-top, 
#logo-line-right {
    fill: #b01c87;
}

#logo-dot-left, 
#logo-line-top {
    fill: #d40e8c;
}

#logo-dot-btm,
#logo-line-left {
    fill: #d30c55;
}

#logo-dot-right,
#logo-line-btm {
    fill: #d40e8c;
}

.logo-vertical {
    position: absolute;
    margin: $spacer-normal;
    top: 0;
    right: 0;
    opacity: 0;
    max-width: 10%;
    min-width: 100px;
    height: auto;
}


