@use '../abstracts/' as *;

*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: $font-body;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
