@use '../abstracts/' as *;

*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: $font-body;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-red {
    color: $color-error-shade;
}

.font-fuchsia {
    color: $color-primary-shade;
}

.font-purple {
    color: $color-secondary-shade;
}

