@use '../abstracts/'as *;

.showcase-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 100;
    height: 100vh;
}

.showcase-logo {
    width: 50%;
    fill: $color-warm-gray;
}

.gray {
    color: $color-warm-gray;
}