@use '../abstracts/'as *;

.italic {
    font-family: $font-italic;
}

.title-primary {
    @include slide-title
}

.title-secondary {
    @include slide-subtitle
}

.title-tertiary {
    @include slide-subtitle;
    font-size: calc($font-size-heading / 3)
}

.slide-header {
    @include slide-title
}

.slide-header-alt {
    @include slide-title;
    font-size: calc($font-size-heading / 2)
}

.slide-subheader {
    @include slide-subtitle
}

.slide-stat-primary {
    @include slide-subtitle;
    font-family: $font-bold
}

.slide-stat-title {
    @include slide-title;
    @include gradient-text;
    font-size: calc($font-size-heading / 2)
}

.slide-body {
    @include slide-body;
    line-height: 1.1;
}

.card-title {
    @include slide-title;
    font-size: calc($font-size-body * 3);
    color: $color-font-primary;
}

.card-body {
    @include slide-body;
    font-size: calc($font-size-body * 2);
    color: $color-warm-gray;
}

.carousel-slide-cont {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    opacity: 0;
}

.slide-title-cont,
.slide-content-cont {
    // margin: 0;
    width: 100%;
}

#be-ambitious-title {
    opacity: 100;
}

#ambitious-it-span {
    border-bottom: 15px solid $color-secondary-shade;
}

.responsive-grid {
    @include grid-flex
}

.about-insight-logo {
    max-width: 50%;
    min-width: 500px;
    height: auto;
}

.culture-card-header {
    position: relative;
}

.culture-card-header::after {
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: inherit;
    border: solid transparent;
    content: " ";
    border-color: #FFFFFF;
    height: 0;
    width: 0;
    border-width: 30px;
    margin-left: -30px;
}

.stat-cont {
    position: absolute;
    bottom: 33%;
}

.gptw-logo {
    max-width: 30%;
    min-width: 100px;
    height: auto;
}

.gptw-card {
    width: 50%;
    justify-self: center;
}

.project-logos {
    position: absolute;
    top: 0;
    left: 0;
}

.bg-red {
    background-color: $color-error-shade;
}

.bg-red::after {
    border-top-color: $color-error-shade;
}

.bg-fuchsia {
    background-color: $color-primary-shade;
}

.bg-fuchsia::after {
    border-top-color: $color-primary-shade;
}

.bg-purple {
    background-color: $color-secondary-shade;
}

.bg-purple::after {
    border-top-color: $color-secondary-shade;
}

.impact-grid {
    max-width: 100%;
}

.gptw-header {
    font-family: $font-bold;
    font-size: calc($font-size-body * 2.5);
}

.gptw-body,
.impact-body {
    @include slide-body;
    font-size: calc($font-size-body * 2);
    text-align: left;
    line-height: 1.2;
    color: $color-dark-gray;
}

.impact-mute {
    @include slide-body;
    font-size: calc($font-size-body * 1.5);
    text-align: left;
    color: $color-dark-gray;
    align-self: end;
}

.gptw-svg-cont,
.expertise-svg-cont {
    height: auto;
    width: auto;
}

.gptw-svg {
    height: 50%;
    width: 50%;
}

.expertise-svg {
    height: 25%;
    width: 25%;
}

.expertise-slide-header { 
    @include slide-title;
    font-size: 8rem;
}

.industry-card-title,
.project-card-title {
    @include slide-title;
    font-size: calc($font-size-body * 2.5);
    @include gradient-text
}

.insight-gradient {
    @include gradient-text
}

.project-card-title {
    width: 66%;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #ae0a46 0%, #a80b6e 49%, #582873 100%) 0 0 100% 0;
}
