@use '../abstracts/'as *;

.italic {
    font-family: $font-italic;
}

.slide-header {
    @include slide-title
}

.slide-header-alt {
    @include slide-title;
    font-size: calc($font-size-heading / 2)
}

.slide-subheader {
    @include slide-subtitle
}

.slide-stat-primary {
    @include slide-subtitle;
    font-family: $font-bold
}

.slide-stat-title {
    @include slide-body;
    font-size: calc($font-size-title / 1.5)
}

.slide-body {
    @include slide-body;
    line-height: 1.1;
}

.card-body {
    @include slide-body;
    color: $color-warm-gray;
}

#be-ambitious-title {
    opacity: 100;
}

#ambitious-it-span {
    border-bottom: 15px solid $color-secondary-shade;
}

.about-insight-logo {
    max-width: 50%;
    min-width: 500px;
    height: auto;
}

.about-grid {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.stat-cont {
    position: absolute;
    bottom: 33%;
}

.gptw-logo {
    max-width: 30%;
    min-width: 100px;
    height: auto;
}

.project-logos {
    position: absolute;
    top: 0;
    left: 0;
}